@page "/add-admin"
<div class="container-fluid col-6">
    <div class="card">
        <div class="card-header">
            <strong>Yönetici Ekle</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                <div style="text-align: center;" class="form-group">
                    <h4>Profil Fotoğrafı</h4> <br>
                    <input type="file" accept="image/png,image/jpeg">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Ad" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Soyad" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="E-Mail" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Şifre" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Şifreyi Tekrar Giriniz" class="form-control" required>
                </div>


            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                Kaydet
            </button>
        </div>
    </div>
</div>

@code {

}