@page "/add-cv"
<div class="row">
    <div class="bd-example col-6">
        <strong>Kişisel Bilgiler</strong><hr />
        <form>
            <div class="form-group">
                <label for="photo">Fotğoraf</label>
                <input type="file" class="form-control-file" id="photo" accept="image/png, image/jpeg" required>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">Ad</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="firstName" placeholder="Adınız" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3 col-form-label">Soyad</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="lastName" placeholder="Soyadınız" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="dateOfBirth" class="col-sm-3 col-form-label">Doğum Tarihi</label>
                <div class="col-sm-7">
                    <input required type="date" class="form-control" id="dateOfBirth">
                </div>
            </div>
            <div class="form-group row">
                <label for="placeOfBirth" class="col-sm-3 col-form-label">Doğum Yeri</label>
                <div class="col-sm-7">
                    <input required type="text" class="form-control" id="placeOfBirth" placeholder="Doğum yeriniz">
                </div>
            </div>
            <div class="form-group row">
                <label for="maritalStatus" class="col-sm-3 col-form-label">Medeni Durum</label>
                <div class="col-sm-7">
                    <select required id="maritalStatus" class="form-control">
                        <option selected disabled>Seçiniz</option>
                        <option value="1">Evli</option>
                        <option value="2">Bekar</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="bd-example col-6">
        <strong>Eğitim Bilgileri</strong><hr />
        <form>
            <div class="form-group row">
                <label for="eduStatus" class="col-sm-3 col-form-label">Eğitim Durumu</label>
                <div class="col-sm-7">
                    <select required id="eduStatus" class="form-control">
                        <option selected disabled>Seçiniz</option>
                        <option value="1">İlköğretim</option>
                        <option value="2">Orta Öğretim</option>
                        <option value="3">Lise</option>
                        <option value="4">Meslek Yüksek Okulu</option>
                        <option value="5">Üniversite</option>
                        <option value="6">Yüksek Lisans</option>
                        <option value="7">Doktora</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="schoolName" class="col-sm-3 col-form-label">Okul</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="schoolName" placeholder="Okulunuzun adı" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="department" class="col-sm-3 col-form-label">Bölüm</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="department" placeholder="Bölümünüz" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="startingDate" class="col-sm-3 col-form-label">Başlama Tarihi</label>
                <div class="col-sm-7">
                    <input required type="date" class="form-control" id="startingDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="graDate" class="col-sm-3 col-form-label">Mezuniyet Tarihi</label>
                <div class="col-sm-7">
                    <input required type="date" class="form-control" id="graDate">
                </div>
            </div>
        </form>
    </div>
    <div class="bd-example col-6">
        <strong>İletişim Bilgileri</strong><hr />
        <form>
            <div class="form-group row">
                <label for="phonNumber" class="col-sm-3 col-form-label">Telefon Numarası</label>
                <div class="col-sm-7">
                    <input type="tel" class="form-control" id="phonNumber" placeholder="(000) 000 000 00 00" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="eMail" class="col-sm-3 col-form-label">E-Posta</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="eMail" placeholder="E-Mail adresiniz" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-3 col-form-label">Adres</label>
                <div class="col-sm-7">
                    <textarea required="" class="form-control" placeholder="Ev adresiniz..." id="address" rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="bd-example col-6">
        <strong>DİĞER</strong><hr />
        <form>
            <div class="form-group row">
                <label for="foreignLanguage" class="col-sm-3 col-form-label">Yabancı Dil</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="foreignLanguage" placeholder="Yabancı Dil" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="foLangLevel" class="col-sm-3 col-form-label">Seviye</label>
                <div class="col-sm-7">
                    <select required id="foLangLevel" class="form-control">
                        <option selected disabled>Seçiniz</option>
                        <option value="1">Başlangıç</option>
                        <option value="2">Orta</option>
                        <option value="3">İleri</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="competences" class="col-sm-3 col-form-label">Yeterlilikler</label>
                <div class="col-sm-7">
                    <textarea required="" class="form-control" placeholder="Yeterlilik-Seviye" id="competences" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="references" class="col-sm-3 col-form-label">Referanslar</label>
                <div class="col-sm-7">
                    <textarea required="" class="form-control" placeholder="İsim-Numara" id="references" rows="2"></textarea>
                </div>
            </div>
        </form>
    </div>
    <input style="font-weight: bold" class="btn btn-primary" type="submit" value="Ekle">
</div>



@code {

}
