@page "/applies"

<div class="col-8 container d-flex justify-content-center py-lg-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Ön Yazı</th>
            <th scope="col">İncele</th>
            
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Tarık</th>
            <td>Turan</td>
            <td>retatu@outlook.com</td>
            
            <td>
                <div class="table-data-feature">
                    <button title="CV İncele">
                        <i class="fas fa-eye"></i>
                    </button>

                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

@code {

}
