@page "/forget-password"

<div class="container d-flex justify-content-center" style="padding-top: 9em;">
    <form style="background:whitesmoke" class="text-center border border-light p-5" action="#!">
        <p style="color: darkred; padding-bottom: 1em">Şifre sıfırlama talimatlarını içeren bir mail alacaksın.</p>
        <input type="email" id="forgetMail" class="form-control mb-4" placeholder="E-mail" required="">
        <button class="btn btn-info btn-block my-4" type="submit">Gönder</button>
    </form>
</div>





@code {

}