@page "/login"

<div class="container d-flex justify-content-center" style="padding-top: 9em;">
    <form style="background:whitesmoke" class="text-center border border-light p-5" action="#!"> 

        <p class="h4 mb-4">Giriş Yap</p>
        <input type="email" id="loginMail" class="form-control mb-4" placeholder="E-mail" required="">
        <input type="password" id="loginPassword" class="form-control mb-4" placeholder="Şifre" required="">

        <div class="d-flex justify-content-around">
            <div>
                <a href="forget-password">Şifreni mi unuttun?</a>
            </div>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Giriş</button>
        <p>
            Üye değil misin?
            <a href="register">Üye ol</a>
        </p>

    </form>

</div>
    
    



@code {

}
