@page "/my-cv"
<div class="container-fluid">
    <div class="col-10 container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4>Özgeçmiş</h4>
            </div>
            <div class="card-body">
                <div class="profile-photo" style="text-align: center;">
                    <img style="border-radius: 20px " width="160" heigth="160" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
                <div class="row" style="padding-left: 2em; padding-right: 2em; padding-top: 2em; padding-bottom: 2 em;">
                    <div class="col-6" style="padding-top: 2em;">
                        <strong>Kişisel Bilgiler</strong> <hr>
                        <p>Ad: </p>
                        <p>Soyad: </p>
                        <p>Doğum Yeri: </p>
                        <p>Doğum Tarihi: </p>
                        <p>Medeni durum: </p>
                    </div>
                    <div class="col-6" style="padding-top: 2em;">
                        <strong>İletişim Bilgileri</strong> <hr>
                        <p>Telefon: </p>
                        <p>E-Posta: </p>
                        <p>Adres: </p>
                    </div>
                    <div class="col-6" style="padding-top: 2em;">
                        <strong>Eğitim Bilgileri</strong> <hr>
                        <p>Eğitim Durumu: </p>
                        <p>Okul Adı: </p>
                        <p>Bölüm: </p>
                        <p>Başlama Tarihi: </p>
                        <p>Mezuniyet Tarihi: </p>
                    </div>
                    <div class="col-6" style="padding-top: 2em;">
                        <strong>Diğer</strong> <hr>
                        <p>Yabancı Dil: </p>
                        <p>Yabancı Dil Seviyesi: </p>
                        <p>Yeterlilikler: </p>
                        <p>Referanslar: </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    PDF İNDİR
                </button>
            </div>
        </div>
    </div>
</div>

@code {

}
