@page "/register"

<div class="container d-flex justify-content-center" style="padding-top: 5em;">
    <form style="background:whitesmoke" class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4">Kaydol</p>
        <input type="text" id="firstName" class="form-control mb-4" placeholder="Ad" required="">
        <input type="text" id="lastName" class="form-control mb-4" placeholder="Soyad" required="">
        <input type="email" id="resgisterMail" class="form-control mb-4" placeholder="E-mail" required="">
        <input type="password" id="registerPassword" class="form-control mb-4" placeholder="Şifre" required="">
        <input type="password" id="registerPasswordAgain" class="form-control mb-4" placeholder="Şifrenizi Tekrar Girin" required="">

        <button class="btn btn-info btn-block my-4" type="submit">Kaydol</button>
        <p>
            Hesabın var mı?
            <a href="login">Giriş Yap</a>
        </p>

    </form>

</div>
    
    



@code {

}