
    
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-body" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
                    <h5 class="card-title" style="font-weight: bold; color: white">396</h5>
                    <p class="card-text" style="color: white">Toplam Başvuru</p>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
                <h5 class="card-title" style="font-weight: bold; color: white">Arge</h5>
                <p class="card-text" style="color: white">En çok başvuru alan departman</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
                <h5 class="card-title" style="font-weight: bold; color: white">396</h5>
                <p class="card-text" style="color: white">En çok hangi ünvanla başvuru geliyor?</p>
            </div>
        </div>
    </div>-->
    </div>
    

<div class="row">
        <div class="col-4">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Departman</th>
                        <th scope="col">Başvuru Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Departman</th>
                        <th scope="col">Ünvan</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Tarık</th>
                        <td>Turan</td>
                        <td>retatu@outlook.com</td>
                        <td>Yazılım</td>
                        <td>Ünvan</td>
                        <td>
                            <div class="table-data-feature">
                                <button title="Onayla">
                                    <i class="fas fa-check-circle"></i>
                                </button>
                                <button title="Reddet">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                                <button title="CV İndir">
                                    <i class="fas fa-file-pdf"></i>
                                </button>
                                <button title="CV İncele">
                                    <i class="fas fa-eye"></i>
                                </button>

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>





@code {

}



