@inherits LayoutComponentBase

<!-- Nav componentler person ve admine göre çağrılacak,
login ve register ekranında çağrılmayacak -->




<div class="sidebar">
    <AdminNav/>
    
</div>


<div class="main">
    

    

    <div class="content px-4">
        @Body
    </div>
</div>
